# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#bin folder
Assignment 1/.vscode
Assignment 1/bin

#bin folder
Assignment2/.vscode
Assignment2/bin


a.out
Assignment2/client
Assignment2/tracker
Assignment2/node1/test2.mkv
Assignment2/node3/test.pdf
.gitignore
Assignment2/test.pdf
Assignment2/node2/test.pdf
Assignment2/node2/test.pdf
Assignment2/node1/song.mp3
Assignment2/node2/test.pdf
Assignment2/node3/song.mp3
.gitignore
Assignment2/node2/song.mp3
