# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#bin folder
Assignment 1/.vscode
Assignment 1/bin

#bin folder
Assignment3/.vscode
Assignment3/bin

#bin folder
Assignment4/.vscode
Assignment4/bin


a.out
Assignment2/client
Assignment2/tracker
Assignment2/node1/test2.mkv
Assignment2/node3/test.pdf
.gitignore
Assignment2/test.pdf
Assignment2/node2/test.pdf
Assignment2/node2/test.pdf
Assignment2/node1/song.mp3
Assignment2/node2/test.pdf
Assignment2/node3/song.mp3
.gitignore
Assignment2/node2/song.mp3
Assignment2/node1/test4.mp4
.gitignore
Assignment2/node3/test4.mp4
Assignment2/node1/test3.db
Assignment2/node2/test4.mp4
Assignment2/examples/song.mp3
Assignment2/node2/test1.pdf
Assignment2/node1/test1.pdf
Assignment2/node3/test1.pdf
